# ================================
# Ignore EVERYTHING by default
# ================================
*

# ================================
# Allow core files
# ================================
!.gitignore
!README.md

# ================================
# Allow notebooks
# ================================
!*.ipynb
!notebooks/
!notebooks/**/*.ipynb

# ================================
# Allow ONLY this model
# ================================
!models/
!models/xgboost.joblib

!scalers/
!scalers/robust_scaler.joblib

# ================================
# Allow Streamlit app
# ================================
!app.py
!requirements.txt
!presentation.md
!paper.png